body {
  background: black;
  color: white;
  overflow-y: hidden;
}

.flex-container {
  display: flex;
  padding-top: 40px;
  padding-right: 126px;
  padding-left: 126px;
  padding-bottom: 550px;
}

#one{
  width:50%;
  height:579px;
  border: 1px solid white;
}

#two {
  width:50%;
  height: 579px;
  border: 1px solid white;
}


#title {
  top: 22%;
  left: 5%;
  position: relative;
  font-size: 30px;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  /* 'IBM Plex Serif', serif; */
}

#about{
  position: relative;
  font-size: 16px;
  width: 330px;
  left: 5%;
  top: 19%;
  color: white;
  font-family:'IBM Plex Sans', sans-serif;
}

.key {
  z-index: 3;
  position: relative;
  width: 65px;
  left: 80%;
  display: flex;
  flex-direction: column;
}

#clus1 {
  margin-top: 30px;
  width: 65px;
  height: 65px;
  background-color: #FF02E5;

}

#clus2 {
  margin-top: 30px;
  width: 65px;
  height: 65px;
  background-color: #CCFF04;
}

#clus3 {
  margin-top: 30px;
  width: 65px;
  height: 65px;
  background-color: #0093FF;
}

#clus4 {
  margin-top: 30px;
  width: 65px;
  height: 65px;
  background-color: #FF5C01;
}

#clus5 {
  margin-top: 30px;
  width: 65px;
  height: 65px;
  background-color: #6B0DB2;
}

#question {
  position: absolute;
  top: 82%;
  left: 89%;
  font-size: 30px;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

#question:hover + #methods {   display:block; }

#methods {
  display:none;
  position: absolute;
  font-size: 14px;
  width: 550px;
  left: 51%;
  top: 84%;
  color: white;
  font-family:'IBM Plex Sans', sans-serif;
}

#text_1 {
  display:none;
  position: absolute;
  font-size: 14px;
  width: 550px;
  left: 51%;
  top: 84%;
  color: white;
  font-family:'IBM Plex Sans', sans-serif;
}

#text_2 {
  display:none;
  position: absolute;
  font-size: 14px;
  width: 550px;
  left: 51%;
  top: 84%;
  color: white;
  font-family:'IBM Plex Sans', sans-serif;
}

#text_3 {
  display:none;
  position: absolute;
  font-size: 14px;
  width: 550px;
  left: 51%;
  top: 84%;
  color: white;
  font-family:'IBM Plex Sans', sans-serif;
}

#text_4 {
  display:none;
  position: absolute;
  font-size: 14px;
  width: 550px;
  left: 51%;
  top: 84%;
  color: white;
  font-family:'IBM Plex Sans', sans-serif;
}

#text_5 {
  display:none;
  position: absolute;
  font-size: 14px;
  width: 550px;
  left: 51%;
  top: 84%;
  color: white;
  font-family:'IBM Plex Sans', sans-serif;
}

#graph {
  position: relative;
  top:-82%;
  z-index: 2;
}

#gif {
  height: 577px;
}
